nav{
    background-color: black;
    padding: 15px 20px;
    color: white;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

nav>span{
    font-style: italic;
    font-weight: 400;
    font-size: small;
}

.master-chart{
    display: flex;
    width: 95%;
    margin: auto;
    flex-direction: column;
    align-items: flex-start;
}

.heading{
    padding-top: 25px;
    color: #333;
    font-size: 30px;
}

.discription{
    color: #666;
    font-size: 16px;
    margin-bottom: 25px;
}

.sub-charts{
    display: flex;
    width: 95%;
    margin: 50px auto;
    justify-content: space-evenly;
}